/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore

# CI / IDE
/.gitlab-ci export-ignore
/.gitlab-ci.yml export-ignore
/.github export-ignore
/.idea export-ignore
/sonar-project.properties export-ignore

# Dev & test files
/.env.example export-ignore
/composer.lock export-ignore
/Makefile export-ignore
/php_env export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.php-cs-fixer.php export-ignore
/.php_cs export-ignore
