<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="mangopay_tests">
            <directory>tests/Cases/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>MangoPay</directory>
        </include>
    </source>
</phpunit>
